$brown1: #38220f;
$tan: #DFCCAF;


#overrideBootstrap {
    font-family: 'Raleway', sans-serif;
    background-color: $tan;

    nav {
        li {
            margin-right: 30px;
        }
        color: black;
        h1 {
            color: $brown1;
        }
    }

    .carousel-inner {
        
        img {
            height: 600px;
            width: 100%;
            margin: 0 auto;
            object-fit: cover;
        }
        h1 {
            text-shadow: 1px 1px 15px #000;
        }
        h3 {
            margin-top: -10px;
            margin-bottom: 20px;
            text-shadow: 1px 1px 15px #000;
        }
        button {
            margin-right: 10px;
        }
        .btn-primary {
            background-color: $brown1;
            border-color: $brown1;
            color: white;;
        }
        #caption1 {
            top: 25%;
            left: -40%;
        }
        #caption2 {
            top: 25%;
        }
        #caption3 {
            top: 25%;
            left: -45%;
        }
    }

    #faStyle {
        font-size: 150px;
        margin-top: 60px;
        margin-bottom: 20px;
        color: $tan;
    }

    #threeIcons {
        background-color: $brown1;
        padding-bottom: 30px;

        h3, p {
            color: $tan;
            margin-right: 20px;
            margin-left: 20px;
        }
    }
    #menu {
        .card-text {
            margin-left: 0px;
            margin-right: 0px;
            color: $tan;
        }
        .card {
            margin-top: 30px;
            background-color: $brown1;
            color: $tan;
            border-width: 0px;
        }
    }

    #menuTitle {
        margin-top: 50px;
        h1 {
            color: $brown1;
        }
    }  
}