$brown1: #38220f;


#overrideBootstrap {
    font-family: 'Raleway', sans-serif;

    nav {
        li {
            margin-right: 30px;
        }
        color: black;
        h1 {
            color: $brown1;
        }
    }

    .carousel-inner {
        
        img {
            height: 600px;
            width: 100%;
            margin: 0 auto;
            object-fit: cover;
        }
        h1 {
            text-shadow: 1px 1px 15px #000;
        }
        h3 {
            margin-top: -10px;
            margin-bottom: 20px;
            text-shadow: 1px 1px 15px #000;
        }
        button {
            margin-right: 10px;
        }
        .btn-primary {
            background-color: $brown1;
            border-color: $brown1;
        }
        #caption1 {
            top: 25%;
            left: -40%;
        }
        #caption2 {
            top: 25%;
        }
        #caption3 {
            top: 25%;
            left: -45%;
        }
    }

    #faStyle {
        font-size: 150px;
        margin-top: 60px;
        margin-bottom: 20px;
        color: $brown1;
    }

    #threeIcons h3, p {
        color: $brown1;
        margin-right: 20px;
        margin-left: 20px;
    }
    
}