#overrideBootstrap {
  font-family: 'Raleway', sans-serif;
  background-color: #ece0d1;
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}

#overrideBootstrap nav {
  color: black;
}

#overrideBootstrap nav li {
  margin-right: 30px;
}

#overrideBootstrap nav h1 {
  color: #38220f;
}

#overrideBootstrap .padding {
  padding-left: 20px;
  padding-right: 20px;
}

#overrideBootstrap .carousel-inner img {
  height: 600px;
  width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#overrideBootstrap .carousel-inner h1 {
  text-shadow: 1px 1px 15px #000;
}

#overrideBootstrap .carousel-inner h3 {
  margin-top: -10px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 15px #000;
}

#overrideBootstrap .carousel-inner button {
  margin-right: 10px;
}

#overrideBootstrap .carousel-inner .btn-primary {
  background-color: #38220f;
  border-color: #38220f;
  color: white;
}

#overrideBootstrap .carousel-inner #caption1 {
  top: 25%;
  left: -40%;
}

#overrideBootstrap .carousel-inner #caption2 {
  top: 25%;
}

#overrideBootstrap .carousel-inner #caption3 {
  top: 25%;
  left: -45%;
}

#overrideBootstrap #faStyle {
  font-size: 150px;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #DFCCAF;
}

#overrideBootstrap #threeIcons {
  background-color: #38220f;
  padding-bottom: 30px;
}

#overrideBootstrap #threeIcons h3, #overrideBootstrap #threeIcons p {
  color: #DFCCAF;
  margin-right: 20px;
  margin-left: 20px;
}

#overrideBootstrap #menu .card-text {
  margin-left: 0px;
  margin-right: 0px;
  color: #38220f;
}

#overrideBootstrap #menu .card {
  margin-top: 30px;
  background-color: #DFCCAF;
  color: #38220f;
  border-width: 0px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#overrideBootstrap #menu .card img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#overrideBootstrap #menuTitle {
  margin-top: 50px;
}

#overrideBootstrap #menuTitle h1 {
  color: #38220f;
}

#overrideBootstrap #dessertTitle {
  margin-top: 80px;
}

#overrideBootstrap #dessertTitle h1 {
  color: #38220f;
}

#overrideBootstrap #about {
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #38220f;
  color: #ece0d1;
}

#overrideBootstrap #about #aboutGrid {
  max-width: 1500px;
}

#overrideBootstrap #about #aboutTitle {
  margin-top: 30px;
}

#overrideBootstrap #about img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-top: 50px;
}

#overrideBootstrap #about h3 {
  margin-top: 50px;
}

#overrideBootstrap #about p {
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  #overrideBootstrap #about {
    padding-left: 8%;
    padding-right: 8%;
  }
  #overrideBootstrap #about h3 {
    margin-top: 120px;
    margin-bottom: 15px;
  }
  #overrideBootstrap #about h3, #overrideBootstrap #about p {
    padding-left: 10px;
    padding-right: 10px;
  }
  #overrideBootstrap #about img {
    margin-top: 80px;
  }
  #overrideBootstrap #about #aboutTitle {
    margin-bottom: -30px;
  }
  #overrideBootstrap #ra-md {
    text-align: right;
  }
  #overrideBootstrap #la-md {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */